html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    vertical-align: baseline;
    
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(darkgray,white)  no-repeat center center fixed;
    -webkit-font-smoothing:antialiased;

}

.header
{
    padding: 0.5em 0;
    background: url("background.jpg") no-repeat center center ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.75);


}
.header__link{
    padding:0.5em 2em;
    background-color: white;
    opacity: 0.9;
    margin:3px;
    font-weight:bold ;
    transition: 0.45s;
    height: 100%;
    cursor: pointer;
    letter-spacing: 1px;
    
}

a{
    text-decoration: none;
    color: #3f3f44;
    transition: 450ms;
    
}
a:hover{
    text-decoration: underline;
}
a:visited {
    text-decoration: none;
}
.content{
    display: grid;
    padding: 2em;
    font-size: large;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    text-align: center;   
    row-gap: 2em; 
}
.skills-table{
   display: flex;
   justify-content: center;
}
table, th, td {
    border: 1px solid #3f3f44;
  }
th{
    font-size: 25px;
    padding:5px 20px;
}
td{
    padding: 10px 10px;
    background-color: #f7f7f7;
    
}
table{
    background-color: royalblue;
    margin-bottom: 5em;
    box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.75);

}


#profile
{
    width: 200px;
    border-radius: 100px;
    border:8px solid rgb(141, 161, 221);
    box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.75);


}

ul{
    padding: 0em 2em;
}
li{
    padding: 0.3em 0;
}


.content__projects{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 100%;
}
#projects
{
    display: grid; 
    justify-content: space-around;
    grid-template-columns: repeat(4, 22%);
    row-gap: 2em;
    padding: 2em;
    text-align: center;
}

.projectCard
{
    height: 24em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:1px solid white;
    border-radius: 22px 0 22px 0;
    background-color: #6886c5;
    transition: 0.4s;
    margin: 1px;
    flex-direction: column;
    padding: 0 1em;
    color: white;
    box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.75);
}
.projectCard:hover
{
    box-shadow: 10px 10px 4px -4px rgba(0,0,0,0.75);
    background-color: #1886c1;
}
.projectName
{
    font-size: larger;
    font-weight: bold;
    color: white;
}
.projectName img
{
 border:2px solid white;
 width: 100%;
 height: 75%;
}

.projectNameText{
    padding: 0.5em;
}
.projectName:hover{
    text-decoration: underline;
}
.tech-container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.5em;
    row-gap: 0.2em;
}
.tech
{
    border: 1px solid white;
    font-weight: bold;
    padding: 0.2em;
}
.html5
{
    background-color: #F16529;
}
.css3
{
    background-color: #2965f1;
}
.javascript{
    background-color: #F0DB4F;
    color: black;
}
.sourceCode{
    font-weight: bold;
    color: white;
}
.contact-main{
    padding-top: 5em;
    padding-left: 2em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 3em;
}
.contact-main a{
    color: #40bad5;
}
.contact-main a:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 1000px){
    .contact-main{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .content{

       display: flex;
       flex-direction: column;
       justify-content: space-around;
       
    }
    .profile-container{
        order: 1;

    }
    .intro{
        order: 2;

    }
    .skills-table{
        order: 3;
        margin:1em;

    }
    .soft-skills{
        order: 4;

    }
    #projects{
        grid-template-columns: 95%;
        row-gap: 5em;
        margin-bottom: 20px;
    }
    .projectCard{
        height: 100%;
        padding: 1em;

    }
    .projectCard img{
        height: 80%;
    }
    .tech-container{
        font-size: 28px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 1em;

    }
    .projectName{
        font-size: 34px;
    }
    .sourceCode{
        display: flex;
        align-items: center;
        font-size: 25px
    }


    


}