html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    vertical-align: baseline;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #42475A;
    color:#E79853;

}
.dropdown 
{
    position: relative;
    display: inline-block;
}

#dropdown:hover{
    text-decoration: none;
    color:#E79853;
}
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #42475A;
    color:#E79853;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.logo
{
height: 100%;
border-radius: 100%;
}
.dropdown:hover .dropdown-content 
{
    display: block;
}
.resume__link
{
    text-decoration: none;
    color:white;
    transition: 450ms;
}
.resume__link:hover
{
    color:#E79853;
    text-decoration: underline;
}
.header
{
    padding: 0.4em 0;
    background: #BF3030 ;
    width: 100%;
    height: 2.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.75);
}
.header__link{
    font-size: larger;
    color:white;
    font-weight:bold ;
    transition: 450ms;
    cursor: pointer;
    letter-spacing: 3px;
    text-decoration: none;
}
.header__link:hover{
    text-decoration: underline;
    color:#E79853;
}
.header__link:visited {
    text-decoration: none;
}
.content{
    display: grid;
    padding: 2em;
    font-size: large;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    text-align: center;   
    row-gap: 2em; 
}
.skills-table{
   display: flex;
   justify-content: center;
}
table, th, td {
    border: 1px solid #BF3030;
  }
th{
    padding:0.5em 1.3em;
    border-radius: 22px;
    color: white;
}
td{
    padding: 10px 10px;
    border: none;
}
table{
    border-radius: 22px 22px;   
    margin-bottom: 2em;
    box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.75);
}
.table-header{
    border-radius: 22px;
    background-color: #596e79;
}


#profile
{
    width: 200px;
    border-radius: 100%;
    border:3px solid #BF3030;
    box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.75);
}

ul{
    padding: 0em 2em;
}
li{
    padding: 0.3em 0;
}


.content__projects{

    display: flex;
    justify-content: center;
    align-items: center;
}
#projects
{
    display: grid; 
    justify-content: space-around;
    grid-template-columns: repeat(4, 23%);
    row-gap: 2em;
    padding: 0.5em;
    text-align: center;
}

.projectCard
{
    height: 28em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:1px solid white;
    border-radius: 22px 22px 0px 22px;
    background-color: #596e79;
    transition: 0.4s;
    margin: 1px;
    flex-direction: column;
    padding: 0 1em;
    color: whitesmoke;
    box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.75);
}
.projectCard:hover
{
    box-shadow: 10px 10px 4px -4px rgba(0,0,0,0.75);
    background-color: #E79853;

}
.projectCard a{
    text-decoration: none;
}
.projectCard a:hover{
    text-decoration: underline;
}
.projectName
{
    font-size: larger;
    font-weight: bold;
    color: white;
}
.projectName img
{
 border:2px solid white;
 width: 100%;
 height: 75%;
}

.projectNameText{
    padding: 0.5em;
}
.projectName:hover{
    text-decoration: underline;
}
.tech-container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.5em;
    row-gap: 0.2em;
}
.tech
{
    border: 1px solid white;
    font-weight: bold;
    padding: 0.2em;
}
.html5
{
    background-color: #F16529;
}
.css3
{
    background-color: #2965f1;
}
.javascript{
    background-color: #F0DB4F;
    color: black;
}
.react{
    background-color: #282C34;
    color:rgb(97, 218, 251);
}
.sourceCode{
    font-weight: bold;
    color: white;
}
.contact-main{
    padding-top: 5em;
    padding-left: 2em;
    display: grid;
    color: #D9C8A9;

    grid-template-columns: repeat(2,1fr);
    column-gap: 3em;
}
.contact-main a{
    transition: 450ms;
    color: #D9BA5F;
    text-decoration: none;
}
.contact-main a:hover{
    color: #E79853;
    text-decoration: underline;
}
@media only screen and (max-width: 1000px){

    .header{
        align-items: center;
    }
    .header__link{
        font-weight:normal ;
        font-size: 30px;
        align-self: center;
        padding: 0;
        margin: 0;
    }
    .skills-table{
        font-size: 40px;
    }
    .contact-main{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .content{
       display: flex;
       flex-direction: column;
       padding: 0.2em 0em;
       margin: 10px;
       justify-content: space-around;
       
    }
    .profile-container{
        order: 1;

    }
    .intro{
        order: 2;
        padding: 1em;
        margin: 0;
        text-align: center;
    }

    .skills-table{
        order: 3;
        margin:1em;

    }
    .soft-skills{
        order: 4;

    }
    #projects{
        padding: 0 1em;
        grid-template-columns: 100%;
        row-gap: 5em;
        margin-bottom: 20px;
    }
    .projectCard{
        height: 100%;
        padding: 1em;

    }
    .projectCard img{
        height: 80%;
    }
    .tech-container{
        font-size: 28px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 1em;

    }
    .projectName{
        font-size: 34px;
    }
    .sourceCode{
        display: flex;
        align-items: center;
        font-size: 25px
    }
}