body
{
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.title{
  display: flex;
  justify-content: center;
}
#maincont
{
display: grid;
grid-template-columns: 17em 1fr ;
column-gap: 3em;
}

.card 
{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #FBAB7E;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  border-radius: 22px;
  padding: 1em;
  justify-content: space-around;
  height: 30em;
}
.card:hover,.card1:hover 
{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img{
  border-radius: 22px;
  border: 2px solid teal ;
}
.card1 
{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  border-radius: 22px;
  padding: 1em 1em 2em 1em;
  height: 15em;

}

#librarycont
{
  margin-right: 1.3%;
  display: grid;
  grid-template-columns: repeat(4,1fr) ;
  column-gap: 2.5em;
  row-gap: 1.5em;
}

input:focus, textarea:focus, select:focus 
{
outline: none;
}


input, textarea 
{
border-top: none;
border-left: none;
border-right: none;
border-bottom: 2px solid black;
background-color: transparent;
font-size: 17px;
}
button
{
border: none;
border-radius: 22px;
padding:0.3em 0.5em;
}
button:hover
{
background-color: rgb(76, 226, 76);
box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
transition: 0.3s; 
}
button:focus
{
outline:0;
}

#read
{
box-shadow: none;

}
.hidden{
  display: none;
}
.deleteBook{
  border-radius: 0px 22px 22px 0px;

}
.deleteBook:hover
{
background-color: lightcoral;
}
.changeReadStatus{

  border-radius: 22px 0 0 22px;
  
}
.changeReadStatus:hover
{
background-color: lightskyblue;
}
.saveButton
{
  width: 100%;
  height: 3em;
  background-color: white;
}
.button__container{
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1000px){
  #librarycont{
    grid-template-columns: repeat(2,1fr);
  }

}