body{
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  
}
.mainContainer{
  display: grid;
  margin: 0;
  grid-template-columns: 35vw 65vw;
}
.leftColumnContainer{
  background-color: #c4fb6d;
  color:black;
  padding: 1em;
}
.rightColumnContainer{
  background-color: #05dfd7;
  padding: 1em;
}
a{
  color: black;
}
.lname{
  display: none;
}
.actualJobrl{
  display: none;
}

@media (max-width: 600px) {
  .mainContainer{
    display: flex;
    flex-direction: column;
  }
  .lname{
    display: inline;
  }
  .rname{
    display: none;
  }
  .actualJobrl{
    display: block;
  }
  .actualJobr{
    display: none;
  }
}