body{
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}
.mainContainer{
  display: grid;
  margin: 0;
  grid-template-columns: 35vw 65vw;
}
.name{
    align-self: start;
    margin-left: 4.4%;
    font-size: x-large;
}
.title{
  grid-column: span 3;
}

.sectionContainer{
  display: grid;
  margin-bottom: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90vw;
  border: 1px solid black;
  border-radius: 0.9rem;
  padding: 0.5em;
}
li{
  margin: 0.6em;
  font-weight: bolder;
}

a{
  color: black;
}

.main{
  display: flex;
  margin-bottom: 2em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
