body{
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}
.mainContainer{
  display: grid;
  margin: 0;
  grid-template-columns: 35vw 65vw;
}
.leftColumnContainer{
  background-color: #373a40;
  display: grid;
  grid-template-columns: 15vw 15vw;
  color:#19d3da;
  padding: 1em;
}
.rightColumnContainer{
  color:#19d3da;
  background-color: #686d76;
  padding: 1em;
}
.contact{
  grid-column:span 2;
}
a{
  color: #19d3da;
}
