.glogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sbarcont{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
    width: 43%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid lightgrey ;
}
#sbar{
    margin-top:-32px ;
border: none;
        display: block;
    margin-left: auto;
    margin-right: auto;
    width: 487px;
    height: 34px;
    font-size: 16px;
}
#sbar:focus {
    outline: none;
}
ul{
    list-style-type: none;
    margin: 20 0 0 0;
    padding: 15 0 0 0;   
}
li{
    display: inline;
    padding-right: 15px;
}
.rtop{
    float: right;
}
a:link {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    font-family: arial,sans-serif;
}
.glogocont{
    display: block;
    margin-top:110px;
}
.appbtn{
    height: 16px;
    width: 16px;
    padding:7px 8px 0 0;
    margin-left: 6px;
}
.signbtn{
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    display: inline-block;
    line-height: 28px;
    padding: 0 11px;
    color: #fff;
}
body, td, a, p, .h {
    font-family: arial,sans-serif;
}
.rbtn{
    margin-right: 8px;
}
.rtxt{
    margin-top: 5px;
}
.ltop{
    padding-right: 37px;
    line-height: 29px;
}
.about{
    margin:-23px;
}
.gbuttonscont{
    text-align: center;
    padding-top:39px ;
}
.gbutsearch{
margin-right: 5px;
padding:10px 20px 10px 20px;
border:none;
}
.gbutluck{
margin-left: 5px;
padding:10px 20px 10px 20px;
border: none;
}
.gsico{
    width: 15px;
    height: 15px;
    padding: 13px 10px 0 15px;
}
.gmic{
    width: 25px;
    height: 22px;
    float: right;
    margin: -28px 15px 0 0;
}
#bottombar{
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 10px;
}
.lbot{

}
.rbot{
    float: right;

}
