body
{
 
    background-image: linear-gradient(blue,white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color:white;

}
.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2,auto);
    grid-row-gap: 1em;
    justify-content: center;
}
.content
{
    background-color: gray;
    color:white;
    border-radius: 23px;
    padding: 2em;
    

}

#input
{
    margin: auto;
    align-items: center;
}